// $backgroundImage: linear-gradient(225deg, #000000 0%, #cd890c 90%, #2b86c5 100% );
$background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%);
$primaryColor: #744BFC;
$secondaryColor: #171b20;