@import "../scss/variables";
@import "../scss/mixins";

.button-close{
background: #F5F7FF;
width: 82.76px;
height: 37.02px;
border-radius: 100px;
color: $primaryColor;
border-style: none;
}

.button-save{
  background: $primaryColor ;
  border-style: none;
  width: 82.76px;
  color: #F5F7FF;
height: 37.02px;
border-radius: 100px;
}