@import "../scss/variables";
@import "../scss/mixins";

.search-container{
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 100px;
width: 380px;
height: 42px;
background: #FFFFFF;
border-radius: 39px;

}
.search-button{
border-style:none ;
color: #FFFFFF;
width: 45px;
height: 42px;
background: $primaryColor;
border-radius: 39px;
}

.search-box{
border-style:none ;
border-radius: 39px;
height: 42px;
width: 340px;
padding: 1rem;
}

.fafilter{
margin-left: 1rem;
display: flex;
justify-content:center;
align-items: center;
width: 49px;
height: 42px;
background: #FFFFFF;
border-radius: 29px;
color: $primaryColor;
}